nombre
{
 display:block;
 color:Blue;
 font-size:20;
 font-family:Arial;
}

nombreproducto
{
 display:block;
 color:Red;
 font-size:14;
 font-family:Arial;
}

requisitos
{
 display:block;
 color:Gray;
 font-size:10;
 font-family:Arial;
}